include mixinsAnunciosNoticias 
    
.featured.container
    .row
      .col-sm-8
       each not, index in noticias
        if id_noticia == not.id_noticia
         +noticias(noticias, index)
      #main-content.col-sm-4
       each client, index in clients2x4
        +anuncio1x1(clients2x4, index)
        br
       each client, index in clients1x2
        +anuncio1x1(clients1x2, index)
        br
br             


each grupo, i in clients1x1Noticias 
  - if(grupo.noticias.length > 0) {
    - if(grupo.anuncios) {
      .featured.container
        .owl-demo.owl-carousel
          each cli, index2 in grupo.anuncios
              +anuncio1x1(grupo.anuncios, index2)
              
    - }
    .featured.archive-page.container
      div
        .row
          #main-content.col-md-12
            each not, index in grupo.noticias
              +noticias(grupo.noticias, index)
    -}



script.
  $(document).ready(function() {
  $(".owl-demo").owlCarousel({
  autoPlay: 3000,
  items : 5,
  itemsDesktop : [600,5],
  itemsDesktopSmall : [600,5]
  });
  });

