
.featured.container
  .row
    #sidebar.col-md-12
      // -- Start Widget --
      .widget.wid-follow
        .heading
          h4 #{titulo}
        .content
            p.more 
            | !{contenido}
            