footer
  .wrap-footer
    .container
      .row
        .col-md-4.col-footer.footer-3
          .footer-heading
            h4 Siguenos
          .content
            ul
              li
                a(href='#')
                  i.fa.fa-facebook 
                    b &nbsp;&nbsp;&nbsp;&nbsp;Facebook
              li
                a(href='#')
                  i.fa.fa-twitter
                   b &nbsp;&nbsp;&nbsp;&nbsp;Twiter
              li
                a(href='#')
                  i.fa.fa-google-plus-square
                   b &nbsp;&nbsp;&nbsp;&nbsp;Google+
              li
                a(href='#')
                  i.fa.fa-youtube
                   b &nbsp;&nbsp;&nbsp;&nbsp;Youtube
        .col-md-4.col-footer.footer-3
          .footer-heading
            h4 Nosostros
          .content
            ul
              li
                a(href='http://www.tuislaenunclick.com/') Tu isla en un click 
              li
                | Telefono 666888999
              li
                a(href="#") Dirección: C/ ejemplo nº 6 local 7 Finca España La Laguna
              li
                a(href='#') Contrata nuestros servicios
        .col-md-4.col-footer.footer-3
          .footer-heading
            h4 Links
          .content
            ul
              li
                a(href='http://www.tuislaenunclick.com/') Tu isla en un clik 
              li
                a(href='#') Ayuntamiento Stanta Cruz
              li
                a(href='#') Ayuntamiento La Laguna
              li
                a(href='#') Ayuntamiento Adeje
  .copy-right
    p
      | Copyright 2017 - 
      a(href='http://ctc87.github.io/', target='_blank', rel='nofollow') Carlos Troyano Carmona
      |  Designed by Carlos Troyano Carmona
