html
  head
    include headers
    // script(src="js/frontEnd.js")
    link(rel="stylesheet" href="css/main.css")
    title Revista Empresas 
  body
    include navBarTempl
    include bodyPlantillaNoticia
    include js
    include footer