html
  head
    include headers
    // script(src="js/frontEnd.js")
    link(rel="stylesheet" href="css/main.css")
    title Newspaper | Free Bootstrap Themes by 365Bootstrap.com
  body
    include navBarTempl
    include footer