html
  head
    include headers
    // script(src="js/frontEnd.js")
    link(rel="stylesheet" href="css/main.css")
    title Revista Empresas 
  body
    include navBarTempl
    // .col-sm-12
    // h3 Anuncios en #{municipio}
    include bodyPlantilla2
    include js
    include footer